<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetShow"
        tools:targetApi="31">
        <activity
            android:name=".MemberFragment.AdminLogin.AdminLogin"
            android:exported="false" />
        <activity android:name=".MemberFragment.AdminLogin.CommonRequest"
            android:exported="false"/>
        <activity android:name=".MemberFragment.AdminLogin.ReplyEmail"
            android:exported="false"/>
        <activity android:name=".MemberFragment.AdminLogin.SuggestionEmail"
            android:exported="false"/>
        <activity android:name=".MemberFragment.ContactUs"
            android:exported="false"/>
        <activity
            android:name=".MemberFragment.Settings"
            android:exported="false" />
        <activity
            android:name=".MemberFragment.EditFile"
            android:exported="false" />
        <activity
            android:name=".MemberFragment.AdminLogin.AdminPanel"
            android:exported="false" />
        <activity
            android:name=".MemberFragment.DonateCamp"
            android:exported="false" />
        <activity
            android:name=".MemberFragment.MemberShip"
            android:exported="false" />
        <activity
            android:name=".HomeFragment.FundInfo"
            android:exported="false" />
        <activity
            android:name=".HomeFragment.CampInfo"
            android:exported="false" />
        <activity
            android:name=".Main2Activity"
            android:exported="false" />
        <activity
            android:name=".login.EmailWait"
            android:exported="false" />
        <activity
            android:name=".login.ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".login.Login"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity android:name=".RequestFragment.RequestNewActivity1"
            android:exported="false"/>
        <activity android:name=".RequestFragment.RequestNewActivity2"
            android:exported="false"/>
        <activity android:name=".RequestFragment.RequestNewActivity3"
            android:exported="false"/>
        <activity android:name=".RequestFragment.RequestNewActivity4"
            android:exported="false"/>
        <activity android:name=".RequestFragment.RequestNewActivity5"
            android:exported="false"/>
        <activity
            android:name=".login.FirstPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>